@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    font-size: 14px; /* Taille de police augmentée pour l'impression */
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  li {
    font-size: 14px;
  }

  .text-right {
    text-align: left;
  }

  .text-center {
    text-align: left;
  }

  .font-semibold {
    font-weight: 600;
  }
}

/* Taille de police générale plus grande pour la version en ligne */
body {
  font-size: 16px; /* Taille de police augmentée */
}

/* Flexbox adjustment for width */
.content {
  display: flex;
  gap: 20px;
}

.bloc1 {
  width: 70%;
}

.bloc2 {
  width: 30%;
}
.card {
  @apply bg-white rounded shadow-md overflow-hidden relative hover:shadow-lg;
}

.badge {
  @apply bg-secondary-100 text-secondary-200 p-2 rounded-full font-bold text-xs absolute top-0 ml-5 mt-2;
}

.btn {
  @apply rounded-full py-2 px-3 cursor-pointer font-bold text-xs uppercase;
}
